# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
node_modules

# testing
/client/coverage

# production
/server/dist
/client/build

# intellij idea
*.iml
.idea

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
