.penetranceName {
  font-size: 1em;
}

.penetranceDescription {
  font-size: 0.7em;
}

.geneCount,
.variantCount,
.patientCount {
  font-size: 0.8em;
}

.penetranceButton {
  border: 1px solid #d3d3d3;
  background-color: white;
  border-radius: 0.5rem;
  width: 100%;
  font-size: 1.2rem;
}

.penetranceButton.high {
  background-color: #41AB5D;
}
.penetranceButton.moderate {
  background-color: #80CCBB;
}
.penetranceButton.low {
  background-color: #C7E3BF;
}
.penetranceButton.uncertain {
  background-color: #BDBCBC;
}
