.insight-frequency-table {
    font-size: 1rem;
    min-width: 400px;
}

.insight-frequency-table .rt-tbody {
    line-height: 1rem;
}

.insight-frequency-table .-pagination {
    font-size: 0.8rem;
}

.insight-frequency-table .-pagination .-center {
    flex-grow: 5;
}
